$secondary-color: #ffff99;
$main-color: #3247a4;

.App {
  margin: 0;
  background-color: $main-color;
  min-height: 100vh;
}

.area51 {
  width: 100%;
}
.header {
  margin-top: -3px;
  background-color: $secondary-color;

  .nav {
    display: flex;
    flex-direction: row;
    justify-content: space-around;

    a {
      text-decoration: none;
    }
    h3 {
      margin: 5px 0;
      color: $main-color;
    }
  }
}
.home {
  display: flex;
  flex-direction: column;
  align-items: center;

  h2 {
    color: $secondary-color;
    margin: 10px 0;
  }

  p {
    color: $secondary-color;
    padding: 10px;
  }

  img {
    width: 50%;
    margin-top: 10px;
  }
}
.about {
  h2 {
    color: $secondary-color;
    text-align: center;
    margin: 10px 0;
  }
  p {
    color: $secondary-color;
    padding: 10px;
  }
}
.footer {
  background-color: $secondary-color;
  margin-bottom: -5px;
  a {
    text-decoration: none;
  }
  h3 {
    margin: 0;
    padding: 5px;
    color: $main-color;
  }
}
